* {
    text-decoration: none;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-container {
    max-width: 500px;
    margin: auto;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0px 4px 14px rgb(0, 0, 0, 0.521);
}

h1, h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input {
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 8px;
    border-color: rgb(0, 0, 0, 0.521);
}

button {
    border-radius: 4px;
    cursor: pointer;
    border: none;
    color: #fff;
    background-color: #3A86FF ;
    padding: 4px;
}

button:hover {
    color: #9E9E9E ;
    background-color: #E0E0E0 ;
}

.logout {
    font-size: 0.9rem;
    text-align: right;
}

a:link, a:visited {
    color: white;
}

a:hover {
    color: #9E9E9E ;
}

.preencher-campo {
    color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    right: 20%;
}