/*
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

a, a:visited, a:link {
    color: black;
}

body {
    background-color: #ffffff88;
    color: #1a1919;
    font-size: 16px;
}

header {
    color: black;
    font-size: 20px;
    position: fixed;
    left: 15%;
    transform: translateX(-50%);
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 600px;
    gap: 10%;
    width: 30vw;
}

header img {
    width: 250px;
}

header nav ul {
    display: grid;
    grid-template-columns: repeat(6, 200px);
}

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: center;
}

.phrase {
    text-align: center;
    margin: 150px 0 ;
    font-size: 24px;
}

.cards { 
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 40px 8px;
    opacity: 80%;
}

.cards img {
    border-radius: 10px;
    width: 350px;
    height: 700px;
    object-fit: cover;

}

.cards > div {
    text-align: center;
    width: 330px;
}
